@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: burfordbase;
src: url("../src/assets/fonts/Burford_Base.otf")
}
@font-face{
    font-family: spacegrotesk;
src: url("../src/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
}
@font-face{
  font-family:starlight;
  src: url("../src/assets/fonts/Starlight.otf");
}
*{
  --background-site: #cddce5;
}

.embla {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height:30rem;
  padding: 0.2rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.embla__slide__img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.embla__parallax {
  height: 100%;
  overflow: hidden;
}
.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
}
.embla__parallax__img {
  max-width: none;
  width: calc(100% + (var(--slide-spacing) * 2));
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla button:disabled{
  opacity: 0.4;
}
.embla button:disabled:hover{
  color:none;
}

.embla__slide__text {
  z-index: 1;
  position:relative;
  text-align: center;
  pointer-events: none;

  .heading1{
    position: absolute;
    top:13rem;
    right:1.75rem;
    left:1.5rem;
    }
    
  .heading2{
    position: absolute;
    top:13rem;
    right:1.75rem;
    left:1.5rem;
    }
    
  .heading3{
    position: absolute;
    top:13rem;
    right:1.75rem;
    left:1.5rem;
    }

  .heading4{
    position: absolute;
    top:13rem;
    right:1.75rem;
    left:1.5rem;
    }
}


#parallax-box .parallax {
  overflow: hidden;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#parallax-box .parallax-one {
  background-image: url('./assets/images/side-images.jpg');
}

#parallax-box .parallax-one .card{
  background-color: #fefefe;
}